body{
    background-color: rgb(202, 205, 209);
}
.rationale-regular {
    font-family: "Rationale", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.libre-barcode-128-text-regular {
    font-family: "Libre Barcode 128 Text", system-ui;
    font-weight: 400;
    font-style: normal;
}

.anek-tamil-regular {
font-family: "Anek Tamil", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
font-variation-settings:"wdth" 100;
}
.uppercase {
    text-transform: uppercase;
}
.navbar{
    background-color: rgb(31 41 55);
    color: white;
    height: 45px;
    padding-left: 5px;
    margin-bottom: 20px;
    text-align: center;
}
.fz-2rem{
    font-size: 2rem;
}
form{
    margin-bottom: 1rem !important;
}
#resetear-btn:hover{
    background-color: rgb(31 41 55);
    color: white;
}
footer{
    background-color: #13161a;
    color: white;
    padding: 5px;
    position: relative;
    margin-top: 20px;
    bottom: 0;
}
footer>p{
    margin-bottom: 0 !important;
    font-size: 1.5rem;
}